* {
  caret-color: rgba(0, 0, 0, 0);
}

/* -----General----- */

body {
  border: 2px solid ##cc98ed;
  display: flex;
  font-family: Verdana, sans-serif;
  margin: 0%;
}

div {
  display: flex;
  justify-content: center;
}

.change-game-button-div {
  margin-top: 90%;
}

.player-image {
  height: 15%;
  width: 45%;
}

.advanced-character-image {
  padding-left: 70px;
  padding-right: 55px;
}

.icon {
  height: 10%;
  padding-top: 20px;
  width: 20%;
}

.icon:hover {
  background-image: linear-gradient(
    90deg,
    #00c0ff 0%,
    #ffcf00 49%,
    #fc4f4f 80%,
    #00c0ff 100%
  );
  border-radius: 15%;
  cursor: pointer;
  transform: scale(1.1);
}

button:hover {
  transform: scale(1.1);
}

/* -----Both Asides----- */

aside {
  background-color: #a9ddeb;
  width: 15%;
}

h3 {
  font-size: 200%;
  font-weight: lighter;
}

.wins-calculator {
  font-size: 150%;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073;
  font-weight: normal;
}

/* -----Left Aside----- */

.left-aside {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20%;
}

.change-game-button {
  align-items: center;
  background-color: #f7b7f1;
  border-color: #f7b7f1;
  border-radius: 8%;
  cursor: pointer;
  display: flex;
  font-size: 100%;
  height: 60px;
  justify-content: center;
  width: 190px;
}

/* -----Main Center & Home Page----- */

main {
  align-items: center;
  background-color: #cc98ed;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  width: 70%;
}

h1 {
  display: flex;
  font-size: 450%;
  font-weight: bolder;
  justify-content: center;
  margin: 10px;
}

h2 {
  display: flex;
  font-size: 280%;
  font-weight: lighter;
  justify-content: center;
  margin-top: 10%;
}

.rules-section {
  align-items: center;
  display: flex;
  height: 70%;
  justify-content: space-evenly;
  width: 100%;
}

.rules-buttons {
  align-items: center;
  background-color: #f7b7f1;
  border-radius: 8%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 65%;
  transition: 100ms;
  width: 40%;
}

h4 {
  font-size: 250%;
}

p {
  color: purple;
  font-size: 140%;
  font-weight: lighter;
  margin: 2%;
}

/* -----Main Center || Game Page----- */

.characters-classic {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.characters-advanced,
.display-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pick {
  display: flex;
  height: 400px;
  justify-content: space-between;
  padding: 70px;
  width: 400px;
}

/* -----Right Aside----- */
.right-aside {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20%;
}

/* -----Hidden----- */

.hidden {
  display: none;
}
