/* * {
  border: 2px solid black;
} */
/* -----General----- */

body {
  border: 2px solid ##cc98ed;
  height: 100%;
  width: 100%;
  margin: 0%;
  display: flex;
  flex-direction: row;
  font-family: Verdana, sans-serif;
}
div {
  display: flex;
  justify-content: center;
  margin-top: 70%;
}
.player-image {
  height: 15%;
  width: 45%;
}
.classic-character-image {
  height: 10%;
  width: 20%;
  padding-top: 20px;
}
.advanced-character-image {
  height: 10%;
  width: 20%;
  padding-left: 70px;
  padding-right: 55px;
  padding-top: 20px;
}

.icon:hover {
  cursor: pointer;
  background-image: linear-gradient(
    90deg,
    #00c0ff 0%,
    #ffcf00 49%,
    #fc4f4f 80%,
    #00c0ff 100%
  );
  border-radius: 15%;
  transform: scale(1.1);
}

button:hover {
  transform: scale(1.1);
}
/* -----Both Asides----- */
aside {
  background-color: #a9ddeb;
  height: 100%;
  width: 15%;
  position: relative;
  min-height: 200px;
}
h3 {
  font-size: 200%;
  font-weight: lighter;
}
.wins-calculator {
  font-size: 150%;
  font-weight: normal;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073;
}
/* .human-pick {
  height: 15%;
  width: 45%;
}
.computer-pick {
  height: 15%;
  width: 45%;
} */
/* -----Left Aside----- */
.left-aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20%;
}
.change-game-button {
  height: 60px;
  width: 190px;
  font-size: 100%;
  background-color: #f7b7f1;
  border-radius: 8%;
  border-color: #f7b7f1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* -----Main Center & Home Page----- */
main {
  height: 100%;
  width: 70%;
  background-color: #cc98ed;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 450%;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  margin: 10px;
}

h2 {
  font-size: 280%;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
.rules-section {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.rules-buttons {
  height: 65%;
  width: 40%;
  background-color: #f7b7f1;
  border-radius: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: 100ms;
}
h4 {
  font-size: 250%;
}
p {
  font-size: 140%;
  font-weight: lighter;
  color: purple;
  margin: 2%;
}
/* -----Main Center || Game Page----- */

.characters-classic {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.characters-advanced {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* -----Right Aside----- */
.right-aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20%;
}

.reset-score-button {
  height: 60px;
  width: 190px;
  font-size: 100%;
  background-color: #f7b7f1;
  border-radius: 8%;
  border-color: #f7b7f1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* -----Hidden----- */
.hidden {
  display: none;
}
